#left-column .list-group-item:first-child, #left-column .list-group-item:last-child {
    border-radius:0;
}
html,body {height:100%;}
#main {min-height:100%;overflow:hidden;}
#left-column {padding-bottom:10000px;margin-bottom:-10000px;background:#fbfbfb;}
.img-pop:hover {
    cousor:pointer;
}
.btn { margin-right: .25rem;}

.btn-file {
    position: relative;
    overflow:hidden;
    display:inline-block;
}

.btn-file input{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}